<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" type="text/css" href="/css/base.css"> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
 <link rel="stylesheet"  href="/css/bookTour.css"> 
   
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Place</title>
    <style>
       

   span {
     opacity: 1 !important; 
     transition: all 0.4s ease-in; 
     transform: translateY(0px) !important; 
     display: inline-block;
   }
    

   .contain__seach {
            padding: 1rem 0.5rem;
         }

    .tourdetail__nav {
        padding: 1rem 0 1rem 0;
        border-bottom: 1px solid #f1f1f1;
    }

    .tour__items {
        border-radius: 10px;
    }
    .page-link:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent; 
}
   
</style>

   
</head>
<body style="overflow-x : hidden;margin: 0;">

     <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>

     <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>

           {{> header}}
     <div class="container-fluid "  id="App__container">

      <div class="col-10">
       <div class="row " >
        <div class="col-md-12 col-xl-12 ">
           <form action="/search" method="GET">
            <div class="contain__seach">
                
                <div class="row  ml-3 mr-3 mt-2 mb-2 align-items-center">
                  <i class="fas mr-3 fa-map-marker-alt text-danger"></i>
                  <div>
                      <p>From</p>
                      <input type="text" name="search" value="" placeholder="Where do you go ?">
                  </div>
                </div>

               <div class="row  ml-3 mr-3 mt-2 mb-2 align-items-center">
                  <i class="fas mr-3 fa-map-marker-alt text-danger"></i>
                  <div>
                      <p>To</p>
                      <input type="text" name="search" value="" placeholder="Where do you go ?">
                  </div>
                </div>

                <div class="row  ml-3 mr-3 mt-2 mb-2 align-items-center text-primary">
                  <i class="fas mr-3 fa-calendar-check"></i>
                  <div>
                      <p>Start date</p>
                      <input type="date" name="toDate" value="">
                  </div>
                </div>
                 
                 <div class="row  ml-3 mr-3 align-items-center tourGrid__searchbtn-top">
                   <div class="div">
                       <button type="submit" href="" class="btn btn-background-slide btn-sm">Search</button>
                   </div>
                 </div>
            </div>
               </form>
            <div class="contain__covid">
                <div class="row align-items-center">
                    <div class="col-sm-1 text-center" style="font-size: 1.5rem;">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="col-sm-11">
                        <h5>COVID-19 alert: Travel requirements are changing rapidly, including need for pre-travel COVID-19 testing and quarantine on arrival.</h5>
                        <div class="row">
                            <a href="" class="mr-4 ml-3">Check restrictions for your trip.</a>
                             <a href="" class="ml-3" >Dismiss</a>
                        </div>
                        </div>
                </div>
            </div>

            <div class="contain__main mt-4">
                <form action="/filter/tour" method="get" onsubmit="event.preventDefault()" id="formDataControl">
                <div class="row mb-4" style="position: relative;">
                      
                      <div class="col-xl-3 col-lg-3 tourGrid_contain__left__left ">

                   <div class="fight-filter ">
                       <div class="row justify-content-between ml-1 mr-1">
                           <p><b>Filter</b></p>
                           <p class="text-warning">Resert filter</p>
                       </div>
                   </div>
                    
                    <div class="flight-Airline mt-4 pl-3">
                        <p><b>Airline</b></p>
                        <div class="row align-items-center">
                            <input type="checkbox"  name="" id="">
                            <div class="flight-Airline-img">
                                <img src="/img/VNA_logo_notext.png" class="w-100" alt="">
                            </div>
                            <p>Vietnam Airlines</p>
                        </div>
                         <div class="row align-items-center">
                            <input type="checkbox"  name="" id="">
                             <div class="flight-Airline-img">
                            <img src="/img/bamboo_airway.png" class="w-100" alt="">
                             </div>
                            <p>Bamboo Airways</p>
                        </div>
                         <div class="row align-items-center">
                            <input type="checkbox"  name="" id="">
                             <div class="flight-Airline-img">
                            <img src="/img/Pacific Airlines.png" class="w-100" alt="">
                             </div>
                            <p>Pacific Airlines</p>
                        </div>
                    </div>

                    <div class="flight__time-start mt-4 pl-2">
                        <p><b>Time to start</b></p>
                        <div class="row">
                            <a href="">
                                <div class="flight__time-start-items">
                                <svg width="24" height="24" fill="none"><path d="M2 13h.91M4.91 5.91l.636.635M12 3v.91M19.091 5.91l-.636.635M22 13h-.909M6.546 13C6.546 10 9 7.546 12 7.546c3 0 5.455 2.454 5.455 5.454M2 16.636h20M4.727 20.273h14.546" stroke="#1A202C" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"></path></svg>
                                <p>Early morning</p>
                                <p><b><i>00:00 - 06:00</i></b></p>
                            </div>
                            </a>

                             <a href="">
                                <div class="flight__time-start-items">
                               <svg width="24" height="24" fill="none"><path d="M6.664 13.29c-.328-.654-.573-1.472-.573-2.29C6.09 8.3 8.3 6.09 11 6.09c2.7 0 4.909 2.21 4.909 4.91 0 1.145-.41 2.209-1.064 3.027M2 11h.818M4.618 4.618l.573.573M11 2v.818M17.382 4.618l-.573.573M20 11h-.818" stroke="#00B6F3" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M5.273 20A3.282 3.282 0 012 16.727c0-1.8 1.473-3.273 3.273-3.273.409 0 .818.082 1.227.246.736-1.554 2.29-2.7 4.09-2.7 1.965 0 3.683 1.31 4.255 3.027.573-.409 1.146-.572 1.882-.572 1.8 0 3.273 1.472 3.273 3.272 0 1.8-1.473 3.273-3.273 3.273H5.273z" stroke="#00B6F3" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"></path></svg>
                                <p>Morning</p>
                                <p><b><i>06:00 - 12:00</i></b></p>
                            </div>
                            </a>

                             <a href="">
                                <div class="flight__time-start-items ml-1 mr-1" style="min-width: 122px;">
                               <svg width="24" height="24" fill="none"><path d="M3 14.455h18M5.455 17.727h13.09M7.91 21h8.181M3.818 11.182C3.818 6.682 7.5 3 12 3s8.182 3.682 8.182 8.182" stroke="#1A202C" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"></path></svg>
                                <p>Afternoon</p>
                                <p><b><i>12:00 - 18:00</i></b></p>
                            </div>
                            </a>

                             <a href="">
                                <div class="flight__time-start-items ml-1 mr-1">
                               <svg width="24" height="24" fill="none"><path d="M16.91 15.273c-4.5 0-8.183-3.682-8.183-8.182v0c0-.912-.88-1.77-1.671-1.316A8.099 8.099 0 003 12.818C3 17.318 6.682 21 11.182 21a8.099 8.099 0 007.043-4.055c.454-.792-.404-1.672-1.316-1.672v0zM14.455 3v3.273M12.818 4.636h3.273M19.364 7.91v3.272M17.727 9.545H21" stroke="#1A202C" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"></path></svg>
                                <p>Evening</p>
                                <p><b><i>18:00 - 24:00</i></b></p>
                            </div>
                            </a>    
                            
                        </div>
                    </div>

                    <div class="contain__Yourbudget mt-4">
                        <h4>Your budget</h4>
                        <input type="radio" id="male" name="price" value="200">
                        <label for="Less than 200$">Less than 200$</label><br>
                        <input type="radio" id="male" name="price" value="500">
                        <label for="Less than 500$">200$ to 500$</label><br>
                        <input type="radio" id="male" name="price" value="1000">
                        <label for="Less than 500$">500$ to 1000$</label><br>
                         <input type="radio" id="male" name="price" value="2000">
                        <label for="Less than 500$">1000$ to 2000$</label><br>
                         <input type="radio" id="male" name="price" value="5000">
                        <label for="Less than 500$">2000$ to 5000$</label><br>
                    </div>
                    
                    <div class="flight-ticket-class">
                        <p><b>Ticket class</b></p>
                        <p><input class="mr-2" type="checkbox" name="" id="">Business class</p>
                        <p><input class="mr-2" type="checkbox" name="" id="">Common</p>
                        <p><input class="mr-2" type="checkbox" name="" id="">Special general</p>
                    </div>

                    
                   
                   <div class="text-center mt-3">
                       <button class="btn btn-success" id="btn__close__filter">Apply and close</button>
                   </div>

                </div>


                <div class="col-xl-9 col-lg-9 pl-5" id="flight__container-right">
                     <div>
                                       <div class="mb-3 tourGrid__filter"> 
                        <button style="width: 100%;padding: .5rem 0;border: none;" id="Openfilter" class="button text-center">Filter in here !</button>
                    </div>
                    <div class="row" style="border-bottom: 1px dashed var(--primary_color);">
                  <div class="col-sm-6">
                        <h4 >From <span class="text-primary">HCM</span> to <span class="text-primary">Ha Noi</span></h4>
                  </div>
                  <div class="col-sm-2">
                      <span id="result__filter" class="text-danger">4 results</span>
                  </div>
                   <div class="col-sm-4 row justify-content-around ">
                       <label for="cars" class="mr-1">Sort by</label>
                      <div>
                            <select name="sortTour" id="sortTour" class="contain__main-sort">
                                <option value="0">Recomended</option>
                                <option value="1">Price low to high</option>
                                <option value="2">Price high to low  </option>
                                <option value="3">Start date</option>
                                <option value="0">Best rating</option>
                            </select>
                            <br><br>
                        </div>

                        
                           
                   </div>
                </div>

                <div id="contain__list-tour">
                 
                      <div class="row tour__items ">
                          <div class="w-100 pl-4 pr-4">
                        <div class="row align-items-center flight__contain-top">
                             <div class="col-sm-4">
                                  
                                      <div class="flight__tiket-item-img">
                                          <img src="/img/bamboo_airway.png" class="w-100" alt="">
                                      </div>
                                       
                                       <div>
                                           <p>Bamboo Airways</p>
                                           <p class="text-muted">QH240/ Boeing 787</p>
                                       </div>
                              </div>
                              <div class="col-sm-4">
                                  <p><b>08:00  <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>  10:10</b></p>
                                  <p class="text-muted">HCM   <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>   HAN</p>
                              </div>
                              <div class="col-sm-4">
                                  <p class="text-muted">2h10p</p>
                                  <p class="text-muted">Fly straight</p>
                              </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3">
                               <p>Common <span class="text-white  pl-2 pr-2" style="background : #01b3a7" >EZ</span></p>
                            </div>   
                            <div class="col-sm-6">
                                <p class="text-muted">
                                    <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(74, 85, 104); margin-top: 2px;"><path d="M3.907 13.736v.93M12.59 13.736v.93M6.388 10.015h3.72" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M13.83 11.736a2 2 0 01-2 2H4.666a2 2 0 01-2-2V5.054c0-.682.558-1.24 1.24-1.24h8.682c.682 0 1.24.558 1.24 1.24v6.682zM10.109 3.814v-1.48a1 1 0 00-1-1H7.388a1 1 0 00-1 1v1.48M2.667 7.535h11.162" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="square"></path></svg>
                                      7kg hand baggage. Checked baggage 20kg</p>
                                 <p class="text-danger">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(221, 23, 23); margin-top: 3px;"><path style="fill:rgb(229, 62, 62)" d="M10 3.333v1.334M10 7.333v1.334M10 11.333v1.334M3.333 3.333h9.334A1.333 1.333 0 0114 4.667v2a1.333 1.333 0 100 2.666v2a1.334 1.334 0 01-1.333 1.334H3.333A1.334 1.334 0 012 11.333v-2a1.333 1.333 0 100-2.666v-2a1.333 1.333 0 011.333-1.334" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path></svg>  
                                     It is not supported to change itineraries after 3 hours before departure
                                 </p>
                                 <p class="text-danger">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(204, 27, 27); margin-top: 3px;"><path style="fill:rgb(229, 62, 62)" d="M10 7.333v1.334M10 11.333v1.334M12.5 3.333H3.333A1.333 1.333 0 002 4.667v2a1.333 1.333 0 110 2.666v2a1.333 1.333 0 001.333 1.334h9.334A1.334 1.334 0 0014 11.333v-2a1.333 1.333 0 110-2.666V5.5" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 1.5L2.5 12" stroke="#4A5568" stroke-linecap="round"></path></svg>  
                                     Non-refundable
                                 </p>
                            </div>    
                            <div class="col-sm-3 text-right">
                                <div class="row justify-content-end mr-1">
                                    <div class="flight-item-left-img">
                                       <img src="/img/bamboo_airway.png" class="w-100" alt="">
                                    </div>
                                   <p class="text-muted ml-2">Best price</p>
                                </div>
                                <h5 class="mt-2 mb-2"><b>25.55$</b></h5>
                                <a href="#" class="btn btn_btn btn-sm">Choose</a>
                            </div>                        
                        </div> 
                     </div>  
                  </div>

                   <div class="row tour__items ">
                          <div class="w-100 pl-4 pr-4">
                        <div class="row align-items-center flight__contain-top">
                             <div class="col-sm-4">
                                  
                                      <div class="flight__tiket-item-img">
                                          <img src="/img/VNA_logo_notext.png" class="w-100" alt="">
                                      </div>
                                       
                                       <div>
                                           <p>Vietnam Airlines</p>
                                           <p class="text-muted">QH240/ Boeing 787</p>
                                       </div>
                              </div>
                              <div class="col-sm-4">
                                  <p><b>08:00  <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>  10:10</b></p>
                                  <p class="text-muted">HCM   <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>   HAN</p>
                              </div>
                              <div class="col-sm-4">
                                  <p class="text-muted">2h10p</p>
                                  <p class="text-muted">Fly straight</p>
                              </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3">
                                <p>Common <span class="text-white  pl-2 pr-2" style="background : #01b3a7" >O3</span></p>
                            </div>    
                            <div class="col-sm-6">
                                <p class="text-muted">
                                    <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(74, 85, 104); margin-top: 2px;"><path d="M3.907 13.736v.93M12.59 13.736v.93M6.388 10.015h3.72" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M13.83 11.736a2 2 0 01-2 2H4.666a2 2 0 01-2-2V5.054c0-.682.558-1.24 1.24-1.24h8.682c.682 0 1.24.558 1.24 1.24v6.682zM10.109 3.814v-1.48a1 1 0 00-1-1H7.388a1 1 0 00-1 1v1.48M2.667 7.535h11.162" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="square"></path></svg>
                                      7kg hand baggage. Checked baggage 20kg</p>
                                 <p class="text-muted">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(221, 23, 23); margin-top: 3px;"><path  d="M10 3.333v1.334M10 7.333v1.334M10 11.333v1.334M3.333 3.333h9.334A1.333 1.333 0 0114 4.667v2a1.333 1.333 0 100 2.666v2a1.334 1.334 0 01-1.333 1.334H3.333A1.334 1.334 0 012 11.333v-2a1.333 1.333 0 100-2.666v-2a1.333 1.333 0 011.333-1.334" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path></svg>  
                                    Ticket exchange fee is 385,000VND within 3 hours compared to departure time
                                 </p>
                                 <p class="text-danger">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(204, 27, 27); margin-top: 3px;"><path style="fill:rgb(229, 62, 62)" d="M10 7.333v1.334M10 11.333v1.334M12.5 3.333H3.333A1.333 1.333 0 002 4.667v2a1.333 1.333 0 110 2.666v2a1.333 1.333 0 001.333 1.334h9.334A1.334 1.334 0 0014 11.333v-2a1.333 1.333 0 110-2.666V5.5" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 1.5L2.5 12" stroke="#4A5568" stroke-linecap="round"></path></svg>  
                                     Non-refundable
                                 </p>
                            </div>    
                            <div class="col-sm-3 text-right">
                                <div class="row justify-content-end mr-1">
                                    <div class="flight-item-left-img">
                                       <img src="/img/VNA_logo_notext.png" class="w-100" alt="">
                                    </div>
                                   <p class="text-muted ml-2">Best price</p>
                                </div>
                                <h5 class="mt-2 mb-2"><b>30.55$</b></h5>
                                <a href="#" class="btn btn_btn btn-sm">Choose</a>
                            </div>                        
                        </div> 
                     </div>  
                  </div>

                      <div class="row tour__items ">
                          <div class="w-100 pl-4 pr-4">
                        <div class="row align-items-center flight__contain-top">
                             <div class="col-sm-4">
                                  
                                      <div class="flight__tiket-item-img">
                                          <img src="/img/bamboo_airway.png" class="w-100" alt="">
                                      </div>
                                       
                                       <div>
                                           <p>Bamboo Airways</p>
                                           <p class="text-muted">QH240/ Boeing 787</p>
                                       </div>
                              </div>
                              <div class="col-sm-4">
                                  <p><b>08:00  <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>  10:10</b></p>
                                  <p class="text-muted">HCM   <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>   HAN</p>
                              </div>
                              <div class="col-sm-4">
                                  <p class="text-muted">2h10p</p>
                                  <p class="text-muted">Fly straight</p>
                              </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3">
                               <p>Common <span class="text-white  pl-2 pr-2" style="background : #01b3a7" >EZ</span></p>
                            </div>   
                            <div class="col-sm-6">
                                <p class="text-muted">
                                    <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(74, 85, 104); margin-top: 2px;"><path d="M3.907 13.736v.93M12.59 13.736v.93M6.388 10.015h3.72" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M13.83 11.736a2 2 0 01-2 2H4.666a2 2 0 01-2-2V5.054c0-.682.558-1.24 1.24-1.24h8.682c.682 0 1.24.558 1.24 1.24v6.682zM10.109 3.814v-1.48a1 1 0 00-1-1H7.388a1 1 0 00-1 1v1.48M2.667 7.535h11.162" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="square"></path></svg>
                                      7kg hand baggage. Checked baggage 20kg</p>
                                 <p class="text-danger">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(221, 23, 23); margin-top: 3px;"><path style="fill:rgb(229, 62, 62)" d="M10 3.333v1.334M10 7.333v1.334M10 11.333v1.334M3.333 3.333h9.334A1.333 1.333 0 0114 4.667v2a1.333 1.333 0 100 2.666v2a1.334 1.334 0 01-1.333 1.334H3.333A1.334 1.334 0 012 11.333v-2a1.333 1.333 0 100-2.666v-2a1.333 1.333 0 011.333-1.334" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path></svg>  
                                     It is not supported to change itineraries after 3 hours before departure
                                 </p>
                                 <p class="text-danger">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(204, 27, 27); margin-top: 3px;"><path style="fill:rgb(229, 62, 62)" d="M10 7.333v1.334M10 11.333v1.334M12.5 3.333H3.333A1.333 1.333 0 002 4.667v2a1.333 1.333 0 110 2.666v2a1.333 1.333 0 001.333 1.334h9.334A1.334 1.334 0 0014 11.333v-2a1.333 1.333 0 110-2.666V5.5" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 1.5L2.5 12" stroke="#4A5568" stroke-linecap="round"></path></svg>  
                                     Non-refundable
                                 </p>
                            </div>    
                            <div class="col-sm-3 text-right">
                                <div class="row justify-content-end mr-1">
                                    <div class="flight-item-left-img">
                                       <img src="/img/bamboo_airway.png" class="w-100" alt="">
                                    </div>
                                   <p class="text-muted ml-2">Best price</p>
                                </div>
                                <h5 class="mt-2 mb-2"><b>25.55$</b></h5>
                                <a href="#" class="btn btn_btn btn-sm">Choose</a>
                            </div>                        
                        </div> 
                     </div>  
                  </div>

                   <div class="row tour__items ">
                          <div class="w-100 pl-4 pr-4">
                        <div class="row align-items-center flight__contain-top">
                             <div class="col-sm-4">
                                  
                                      <div class="flight__tiket-item-img">
                                          <img src="/img/VNA_logo_notext.png" class="w-100" alt="">
                                      </div>
                                       
                                       <div>
                                           <p>Vietnam Airlines</p>
                                           <p class="text-muted">QH240/ Boeing 787</p>
                                       </div>
                              </div>
                              <div class="col-sm-4">
                                  <p><b>08:00  <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>  10:10</b></p>
                                  <p class="text-muted">HCM   <i style="font-size: 1rem;" class="ml-1 mr-1 fas fa-exchange-alt"></i>   HAN</p>
                              </div>
                              <div class="col-sm-4">
                                  <p class="text-muted">2h10p</p>
                                  <p class="text-muted">Fly straight</p>
                              </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3">
                                <p>Common <span class="text-white  pl-2 pr-2" style="background : #01b3a7" >O3</span></p>
                            </div>    
                            <div class="col-sm-6">
                                <p class="text-muted">
                                    <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(74, 85, 104); margin-top: 2px;"><path d="M3.907 13.736v.93M12.59 13.736v.93M6.388 10.015h3.72" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M13.83 11.736a2 2 0 01-2 2H4.666a2 2 0 01-2-2V5.054c0-.682.558-1.24 1.24-1.24h8.682c.682 0 1.24.558 1.24 1.24v6.682zM10.109 3.814v-1.48a1 1 0 00-1-1H7.388a1 1 0 00-1 1v1.48M2.667 7.535h11.162" stroke="#4A5568" stroke-miterlimit="10" stroke-linecap="square"></path></svg>
                                      7kg hand baggage. Checked baggage 20kg</p>
                                 <p class="text-muted">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(221, 23, 23); margin-top: 3px;"><path  d="M10 3.333v1.334M10 7.333v1.334M10 11.333v1.334M3.333 3.333h9.334A1.333 1.333 0 0114 4.667v2a1.333 1.333 0 100 2.666v2a1.334 1.334 0 01-1.333 1.334H3.333A1.334 1.334 0 012 11.333v-2a1.333 1.333 0 100-2.666v-2a1.333 1.333 0 011.333-1.334" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path></svg>  
                                    Ticket exchange fee is 385,000VND within 3 hours compared to departure time
                                 </p>
                                 <p class="text-danger">
                                     <svg width="16" height="16" fill="none" class="svgFillAll" style="height: 16px; width: auto; margin-right: 4px; stroke: rgb(204, 27, 27); margin-top: 3px;"><path style="fill:rgb(229, 62, 62)" d="M10 7.333v1.334M10 11.333v1.334M12.5 3.333H3.333A1.333 1.333 0 002 4.667v2a1.333 1.333 0 110 2.666v2a1.333 1.333 0 001.333 1.334h9.334A1.334 1.334 0 0014 11.333v-2a1.333 1.333 0 110-2.666V5.5" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 1.5L2.5 12" stroke="#4A5568" stroke-linecap="round"></path></svg>  
                                     Non-refundable
                                 </p>
                            </div>    
                            <div class="col-sm-3 text-right">
                                <div class="row justify-content-end mr-1">
                                    <div class="flight-item-left-img">
                                       <img src="/img/VNA_logo_notext.png" class="w-100" alt="">
                                    </div>
                                   <p class="text-muted ml-2">Best price</p>
                                </div>
                                <h5 class="mt-2 mb-2"><b>30.55$</b></h5>
                                <a href="#" class="btn btn_btn btn-sm">Choose</a>
                            </div>                        
                        </div> 
                     </div>  
                  </div>
                     </div>
                
                   <nav aria-label="Page navigation example">
  <ul class="pagination" id="pagination">
    <li class="page-item">
      <a class="page-link " aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
     {{{pagination count}}}
    <li class="page-item">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
                     </div>
                </div>
                </div>
            <input type="hidden" name="index" id="indexPage" value="1">

             </form>
              
            </div>

         </div>
      
      </div>
          </div>
     </div>
       <!-- Modal -->
<div class="modal " tabindex="-1" id="book-tour" style="padding-left: 8px !important;" > 
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your payment option</h5>
          <button  type="button" class="close ml-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="border-bottom: 1px solid #f1f1f1;">
          <div class="row" >
              <div class="col-2 text-center">
                  <i class="fas fa-shield-alt"></i>
              </div>
              <div class="col-10">
                  <b>
                      <p>
                          Free cancellation before Thu, Jul 1
                      </p>
                  </b>
                  <p>
                      You can change or cancel this stay if plans change. Because flexibility matters.
                  </p>
              </div>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
          <div class="col-11 d-flex justify-content-between">
              <b>
                <p>
                    Pay now
                </p>
               </b>
               <b>
                   <h4>
                       $219
                   </h4>
               </b>
          </div>
          <div class="row col-11 d-flex justify-content-between">
          <div class="col-7">
              <ul>
                  <li>We will process your payment in your local currency</li>
                  <li>More ways to pay: use Debit/Credit card</li>
                  <li>You can use a valid Travelocity coupon</li>
              </ul>
          </div>
         
              <div class="col-5 text-right" style="padding-right: 0;">
              <p>Decresere 5%</p>
              <b><p>$210 total</p></b>
              <p>Includes taxes & fees</p>
              <a href="/bookTour/online" id="bookTouronline" class="btn btn-background-slide btn-sm ">Pay now</a>
              </div>
         
      </div>
 </div>
   <div class="row d-flex justify-content-center mb-5">
        <div class="col-11 d-flex justify-content-between pt-4">
              <b>
                <p>
                   Pay on departure
                </p>
               </b>
               <b>
                   <h4>
                       $299
                   </h4>
               </b>
          </div>
     

       <div class="row col-11 d-flex justify-content-between">
          <div class="col-7">
              <ul>
                  <li>You will not be charged until your stay</li>
                  <li>Pay the property directly in their local currency</li>
              </ul>
          </div>
         
              <div class="col-5 text-right" style="padding-right: 0;">
              <b><p>$299 total</p></b>
              <p>Includes taxes & fees</p>
              <a href="/bookTour/direct" id="bookTourdirect" class="btn btn-background-slide btn-sm">Pay direct</a>
              </div>
         </div> 
      </div>
      
    
    </div>
  </div>
</div>
 {{!-- end modal  --}}

           {{> footer}}
  
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/app2.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
     
  $('#Openfilter').click(function() {
          $(".tourGrid_contain__left__left").toggleClass('display__block');
      })
      $('#btn__close__filter').click(function(){
               $(".tourGrid_contain__left__left").toggleClass('display__block');
      })
  </script>
 
</body>
</html>