 <div class="mobie__socials">
   <a href=""><div class="mobie__socials-items D-facebook" ><i class="fab fa-facebook fa-facebookd"></i> </div></a>
   <a href=""><div class="mobie__socials-items D-twitter" ><i class="fab fa-twitter fa-twitterd"></i> </div></a>
   <a href=""><div class="mobie__socials-items  D-instagram"><i class="fab fa-instagram fa-instagramd"></i> </div></a>
   <a href=""><div class="mobie__socials-items D-google"><i class="fab fa-google-plus-g fa-google-plus-gd"></i> </div></a>
 </div>
 
  <footer class="footer">
       <div class="footer__top">
        <div class="footer__top-qicklink"  data-aos-duration="1500" data-aos="flip-left">  
            <h3>LEGAL</h3>
           <ul class="footer__top-list">
               <li class="footer__top-list-item"><a href="">Terms & conditions</a></li>
               <li class="footer__top-list-item"><a href="">Privacy policy</a></li>
               <li class="footer__top-list-item"><a href="">License agreement</a></li>
               <li class="footer__top-list-item"><a href="">Cookies policy</a></li>
               <li class="footer__top-list-item"><a href="">Cookies setting</a></li>
           </ul>
      </div>
        <div class="footer__top-pay"  data-aos-duration="1500" data-aos="flip-up">
            <h3 class="footer__heading">PAYMENT</h3>
            <div class="footer-payment">
                <div class="footer-pay-over">
                    <img src="https://cdn3.iconfinder.com/data/icons/credit-cards-pos/900/visa_electron-512.png" alt="">
                    <img src="https://static.mservice.io/img/logo-momo.png" alt="">
                </div>
                <div class="footer-pay-under">
                    <img src="https://pbs.twimg.com/profile_images/558545120367112192/pUdZfvwY.png" alt="">
                    <img src="https://tienaoplus.com/wp-content/uploads/2020/02/y-nghia-logo-ngan-hang-vietcombank-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="footer__top-contactus"  data-aos-duration="1500" data-aos="flip-right">

            <h3>CONTACT US</h3>
            <ul class="footer__top-list">
                <li class="footer__top-list-item"> <i class="fas fa-phone-square-alt"></i>
                  <a href="tel:+84945806419">+84945806419</a></li>
                <li class="footer__top-list-item"><i class="fas fa-envelope"></i>
                  <a href="mailto:khanhjj70@gmail.com">khanhjj70@gmal.com</a></li>
                <li class="footer__top-list-item"><i class="fas fa-map-marker-alt"></i>
                  <a href="">470 Tran Dai Nghia - Ngu Hanh Son - Da Nang</a>
              </li>
            </ul>
            
            
          </div>
       </div>
        
       <div class="footer__bottom">
         <p>© 2021 Wonder Place. All rights reserved.</p>
           
           <a class="footer__policy" href="">Policy</a>
       </div>

    </footer>
   <!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 12906243;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>
<noscript><a href="https://www.livechatinc.com/chat-with/12906243/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->
