 <div class="mobie__socials">
   <a href=""><div class="mobie__socials-items D-facebook" ><i class="fab fa-facebook fa-facebookd"></i> </div></a>
   <a href=""><div class="mobie__socials-items D-twitter" ><i class="fab fa-twitter fa-twitterd"></i> </div></a>
   <a href=""><div class="mobie__socials-items  D-instagram"><i class="fab fa-instagram fa-instagramd"></i> </div></a>
   <a href=""><div class="mobie__socials-items D-google"><i class="fab fa-google-plus-g fa-google-plus-gd"></i> </div></a>
 </div>
 
  <footer class="footer">
       <div class="footer__top">
        <div class="footer__top-qicklink" data-aos="zoom-in">  
            <h3>LEGAL</h3>
           <ul class="footer__top-list">
               <li class="footer__top-list-item"><a href="">Terms & conditions</a></li>
               <li class="footer__top-list-item"><a href="">Privacy policy</a></li>
               <li class="footer__top-list-item"><a href="">License agreement</a></li>
               <li class="footer__top-list-item"><a href="">Cookies policy</a></li>
               <li class="footer__top-list-item"><a href="">Cookies setting</a></li>
           </ul>
      </div>
        <div class="footer__top-pay"  data-aos="zoom-in">
            <h3 class="footer__heading">PAYMENT</h3>
            <div class="footer-payment">
                <div class="footer-pay-over">
                   <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_master_card.svg" alt=""> 
                  <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_visa.svg" alt=""> 
                </div>
                 
                <div class="footer-pay-under">
                  <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_diners_club.svg" alt=""> 
                  <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_discover.svg" alt=""> 
                </div>
                 <div class="footer-pay-under">
                  <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_jcb.svg" alt=""> 
                  <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_china_union_pay.svg" alt=""> 
                 </div>
            </div>
        </div>
        <div class="footer__top-contactus" data-aos="zoom-in">

            <h3>CONTACT US</h3>
            <ul class="footer__top-list">
                <li class="footer__top-list-item"> <i class="fas fa-phone-square-alt"></i>
                  <a href="tel:+84945806419">+84945806419</a></li>
                <li class="footer__top-list-item"><i class="fas fa-envelope"></i>
                  <a href="mailto:khanhjj70@gmail.com">khanhjj70@gmal.com</a></li>
                <li class="footer__top-list-item"><i class="fas fa-map-marker-alt"></i>
                  <a href="">470 Tran Dai Nghia - Ngu Hanh Son - Da Nang</a>
              </li>
            </ul>
            
            
          </div>
       </div>
        
       <div class="footer__bottom">
         <p>© 2021 Wonder Place. All rights reserved.</p>
           
           <a class="footer__policy" href="">Policy</a>
       </div>

    </footer>
   <!-- Start of LiveChat (www.livechatinc.com) code -->
   <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
     
    </script>
<!-- End of LiveChat code -->
