   <div id="modal__login-signUpForm">
          <div class="contain__form__login-signUp">
        <div class="form-modal">
               <i class="fas fa-times login__signUp-close"></i>
        
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">Đăng nhập</button>
            <button id="signup-toggle" onclick="toggleSignup()">Đăng kí</button>
        </div>
    
        <div id="login-form">
            <form action="/login.html" class="right-form" id="sendDataLogin">
                <p style="color: red;" id="falseLogin"></p>
                <input required type="text" name="email" placeholder="Nhập email"/>
                <input required type="password"  name="password" placeholder="Nhập mật khẩu"/>
                <button type="submit" formmethod="POST"  class="btn login">Đăng Nhập</button>
                <p><a href="javascript:void(0)">Quên mật khẩu</a></p>
            </form>
        </div>
    
        <div id="signup-form">
            <form action="/sign-up.html" class="right-form createNew-form" id="sendDataSignUp">
               <div id="checkSignUp"></div>
                <input required type="email" name="email" placeholder="Nhập email"/>
                <input required type="number" name="phone" placeholder="Nhập số điện thoại"/>
                <input required type="text" name="firstName" placeholder="Nhập họ"/>
                <input required type="text" name="lastName" placeholder="Nhập tên"/>
                <input required type="password"  name="password" placeholder="Mật khẩu"/>
                <input required type="password" name="passwordRepeat" placeholder="Nhập lại mật khẩu"/>
                <button type="submit" formmethod="POST"  class="btn signup">Tạo tài khoản</button>
                <p>Khi bấm <strong>tạo tài khoản</strong> nghĩa là bạn đã đồng ý với chính sách của chúng tôi <a href="javascript:void(0)">Chính sách</a>.</p>
            </form>
        </div>
    
    </div>
    </div>
    
   </div>
 <header class="header">
        <div class="header__produce" id="produce" >
            
            
             <div class="header__produce-logo">
                <div class="header__produce-iconmenu-1000" id="menu__navbar-1000">
                    <i style="color:#fff" class="fas fa-bars"></i>
                </div>
               
               <a href="/web-nhanh">
                <div class="row " style="margin: 0;">
                    <h4 style="color: #fff;margin-bottom: 0;">ST</h4> <h4 style="color: #fff;margin-left: 5px;margin-bottom: 0;">COVID-19</h4>
                </div>
             </a>
             </div>

            <div class="d-flex align-items-center">
                   <div class="div__main-nav">
                   <ul class="row align-items-center div__main-nav-list mb-0">
                    <li class="div__main-nav-item"><a href="/web-nhanh"></i>Trang chủ</a></li>
                    <li class="div__main-nav-item "><a href="/web-nhanh"></i>Đăng kí tiêm vắc xin covid-19</a>
                       <ul class="div__main-nav-item-multilevel">
                           <li  class="">
                               <a style="padding-bottom: 0 !important;" href="/web-nhanh/register">Đăng kí cho cá nhân</a>
                           </li>
                            <li class="">
                              <a href="">Đăng kí cho tổ chức</a>
                           </li>
                       </ul>
                    </li>
                    <li class="div__main-nav-item"><a href="/web-nhanh"></i>Tra cứu</a></li>
                    <li class="div__main-nav-item"><a href="/web-nhanh"></i>Tin tức</a></li>
                   </ul> 
             </div>

             <div class="header__produce-right">
               
                  
                   {{#if session.name}}
                   <div class="header__user">
                       <i class="fas fa-user"></i>
                       <h5 onclick="openClose__UserTool()">Chào {{session.name}} <i class="fas fa-chevron-down"></i></h5>
                       <ul class="list__Tool-User">
                           <li class="list__Tool-User-item"> <a class="list__Tool-User-link1" href="/web-nhanh/generalInfo">Thông tin chung</a> </li>
                         <li class="list__Tool-User-item"> <a class="list__Tool-User-link1" href="/web-nhanh/lich-di-tiem">Lịch đi tiêm covid-19</a> </li>
                           <li class="list__Tool-User-item"> <a class="list__Tool-User-link-last" href="/log-out"> Đăng xuất <i class="fas fa-sign-out-alt"></i></a></li>
                       </ul>
                   </div>
                   {{else}}
                 <a href="/login.html" class="btn btn-sm btn-background-slide mar__left_10rem header__produce-right-signup">
                  Đăng nhập
                 </a>
                 {{/if}}
                 
                  {{!-- {{{displayLogin _user.username}}} --}}
             </div>
            </div>
        </div>
           
        <div>

            <div class="header__navbar " id="navbar">
               <ul class="header__navber-list">
                   <li class="header__navbar-list-item"> <a href="/index.html">
                    Home
                   </a></li>
                   <li class="header__navbar-list-item"> <a href="/outTour.html">
                    Our tour
                   </a></li>
                   <li class="header__navbar-list-item"> <a href="/photographer">
                   Photographer
                   </a></li>
                    <li class="header__navbar-list-item"> <a href="/affiliate-service/hotel">
                    Hotel
                   </a> </li>
                    <li class="header__navbar-list-item"> <a href="/affiliate-service/flight">
                    Flight
                   </a></li>
                   <li class="header__navbar-list-item"> <a href="/about.html">
                    About
                   </a> </li>
                   <li class="header__navbar-list-item"> <a href="/blog">
                    Blog
                   </a> </li>
                   <li class="header__navbar-list-item"> <a href="/contact.html">
                    Contact us
                   </a> </li>
                   
                   
                  
               </ul>
    
               <div class="header__navbar-social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
               </div>
            </div>

            <div class="header__navbar-max1000" id="navbar__1000">
                <div class="header__navbar__1000-social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                   </div>
                 

                <ul class="header__navbar-max1000-list">
                    <li class="header__navbar-max1000-item"><a href="/web-nhanh"><i class="fas fa-home mr-2"></i>Trang chủ</a></li>
                    <li class="header__navbar-max1000-item"><a href="/web-nhanh/register"><i class="fas fa-syringe mr-2">Đăng kí tiêm cá nhân</i></a></li>
                    <li class="header__navbar-max1000-item"><a href=""><i class="fas fa-syringe mr-2"></i>Đăng kí tiêm tổ chức</a></li>
                    <li class="header__navbar-max1000-item"><a href=""><i class="fab fa-searchengin mr-2"></i>Tra cứu</a></li>
                    <li class="header__navbar-max1000-item"><a href=""><i class="fas fa-newspaper mr-2"></i>Tin tức</a></li>
                    
                </ul>
            </div>

        </div>
    </header>
   <style>
       #navbar {
            display: none;
        }
        .header__produce {
            /* background: linear-gradient(133deg,#01b3a7,#253494)!important; */
            background: linear-gradient(133deg,#b41a1f,#334555,#162e44)!important;
        }
        .header__produce {
            padding: 0 3% !important;
        }
        .header__user h5 {
            color: #fff
        }
        .div__main-nav-list .div__main-nav-item a{
               color: #fff;
        }
        .div__main-nav-list .div__main-nav-item {
            margin: 0 1rem;
            position: relative;
        }
        .div__main-nav-item::before {
            content: "";
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            height: 10%;
            background-color: transparent
        }
        .div__main-nav-list {
            padding-left: 0;
        }
        .div__main-nav-item-multilevel {
            display: none;
            position: absolute;
            top: 110%;
            right: 0;
            border-radius: 5px;
            background: #fff;
            padding: 0;
        }
        .div__main-nav-item-multilevel li a {
            color: #666 !important;
            padding: 1rem;
            display: block;
        }
         .div__main-nav-item-multilevel li a:hover {
            color: #01b3a7 !important;
        } 
       
        .div__main-nav-item:hover .div__main-nav-item-multilevel {
            display: block;
        }
        @media (max-width:1150px) {
            .header__user {
                margin-left: 1.5rem;
            }
            .header__produce {
                padding: 0 !important;
            }
            .header__produce-logo {
                margin-left: 1rem;
            }
            .div__main-nav-list .div__main-nav-item  {
                margin: 0 .5rem;
            }
        }
        @media (max-width:1000px) {
            .div__main-nav {
                display: none
            }
        }
        .btn {
            border: none;
        }
        a.header__produce-right-signup {
            border: none;

        }
    </style>
    <script>
    var listItemNavMobie = document.querySelectorAll('.header__navbar-max1000-item a');
    for(var i =0;i<listItemNavMobie.length;i++) {
        if(listItemNavMobie[i].href === location.href) 
        {
            listItemNavMobie[i].style.backgroundColor = "#01b3a7";
            listItemNavMobie[i].style.color = "#fff";
        }
    }

   

    </script>

    