<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/css/bookTour.css">
   
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Place</title>
    <style>
        
    </style>
</head>
<body style="overflow-x : hidden;margin: 0;">

     <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>


    <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>

           {{> header}}
   
 <div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.7364684880513!2d108.25128751478408!3d15.975132788938993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314211f3bb84f4db%3A0xd06b5de33a4a6157!2zxJDhuqBJIEjhu4xDIEPDlE5HIE5HSOG7hiBUSMOUTkcgVElOIFbDgCBUUlVZ4buATiBUSMOUTkcgVknhu4ZUIEjDgE4gLSDEkOG6oEkgSOG7jEMgxJDDgCBO4bq0Tkc!5e0!3m2!1sen!2s!4v1619964634629!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

   </div>
   
    <div class="contain__contact container-fluid row justify-content-between">
    <div class="contain__contact-content col-sm-4" data-aos="flip-up">
       <div class="contain__contact-content-detial">
        <i class="fas fa-mobile"></i>
        <a href="tel:+84945806419">+1 323-913-4688
           <br>
            +1 323-888-4554</a>
       </div>
     
        
    </div>
    <div class="contain__contact-content col-sm-4" data-aos="flip-up">
        <div class="contain__contact-content-detial ">
            <i class="fas fa-home"></i>
         <a href="">4730 Crystal Springs Dr, <br> Los Angeles, CA 90027</a>
        </div>
    </div>
    <div class="contain__contact-content col-sm-4" data-aos="flip-up">
        <div class="contain__contact-content-detial ">
            <i class="far fa-comment-dots"></i>
         <a href="mailto:khanhjj70@gmail.com">mail@demolink.org
           <br>
            info@demolink.org</a>
        </div>
    </div>
    </div>
         
    <div class="container contact__help-questions" data-aos="fade-right">
        <h2>If you have any questions, just fill in the contact form, and we will answer you shortly.</h2>
        <form action="/action_page.php">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="pwd">Phone</label>
            <input type="number" class="form-control" id="pwd" placeholder="Enter phone number" name="pswd">
          </div>

          <div class="form-group">
            <label for="pwd">Your Name</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter your name" name="pswd">
          </div>
         
          <div class="form-group">
            <label for="pwd">Your Message</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter your message" name="pswd">
          </div>

          <button type="submit" class="btn btn-background-slide">Send message</button>
        </form>
      </div>
   
           {{> footer}}
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/app2.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
  </script>
 
</body>
</html>