<!DOCTYPE html>
<html lang="en">
   <head>
     
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick-theme.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" href="/css/base.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/reponsive.css">
     
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Stop covid-19</title>
      <style>  
        .partner__rewiew-top .background__img {
            padding-top:38%
        }
         .row {
            margin-left: 0;
            margin-right: 0;
        }
        .slick-prev:before, .slick-next:before {
            color: red;
            }  
            .header__produce {
                box-shadow: 1px 1px 10px #fff;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 101;
                min-height: 60px;
                
            } 
            .partner__rewiew-top {
                margin: 3.8rem 0 2rem;
            }

         .partner__why-choose-item div {
           
           
            transform: translate(0,0);
            color: #666;
            text-shadow: 1px 1px 4px #999;
        } 

            .partner__why-choose-item-child {
                 padding: 0 .6rem;
                top: 1rem !important;
                left: 1rem !important;
                right: 1rem !important;
                bottom: 1rem !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff !important
            }
            .partner__why-choose-item-child h2 {
                font-size: 2.75rem
            }
            .partner__why-choose-item {
                    padding-top:90%
                }
            @media (max-width:768px) {
                .partner__rewiew-top .col-md-7 {
                    padding-top: 65% !important
                }
            }
            @media (max-width: 440px) {
                 .partner__rewiew-top .col-md-5 {
                    padding-top: 47% !important
                }
            }
                    
          </style>
   </head>
   <body style="overflow-x : hidden;margin: 0;" >
      <div class="ontop" id="ontopbro" onclick="ontop()">
         <i class="fas fa-arrow-alt-circle-up"></i>
      </div>
      <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>
      <input type="hidden" id="about">
     
     {{>webnhanhHeader}}



       <div class="container-fluid row partner__rewiew-top">
           <div class="col-md-5 background__img partner__rewiew-head-left" style="background-image: url(/img/partner/img_partnership_left_banner.jpg);">
              
                   <div>
                        <h1 class='text-white'>
                        Đăng kí tiêm vắc xin covid với ST COVID-19
                    </h1 class='text-white'>
                    <p class='text-white'><i class="fas fa-check"></i>Đăng kí miễn phí trong 5 phút.</p>
                    <p class='text-white'><i class="fas fa-check"></i>Áp dụng với độ tuổi 12 trở lên.</p>
                    <p class='text-white'><i class="fas fa-check"></i>Nhận thông tim tiêm qua cuộc gọi khi đến lượt.</p>
                   </div>
               
           </div>
           <div class="col-md-7 background__img " style='background-image: url(/img/webnhanh/chung-tay.png)'>
           </div>
       </div>
       <div class="container partner__rewiew-option">
             <div class="row">
                 <div class="col-6 col-lg-3 ">
                   <div class="text-center partner__rewiew-option-hotel">
                       <img src="/img/webnhanh/đăng ký tiêm.png" width="50" class="mb-2" height="50" alt="">
                       <p class="mt-2"><b>Đăng kí tiêm</b></p>
                   </div>
             </div>
             <div class="col-6 col-lg-3 ">
                   <div class="text-center">
                        <img src="/img/webnhanh/tra cứu.png" width="50" class="mb-2" height="50" alt="">
                       <p class="mt-2"><b>Tra cứu</b></p>
                   </div>
             </div>
             <div class="col-6 col-lg-3 ">
                   <div class="text-center">
                        <img src="/img/webnhanh/tư vấn.png" width="50" class="mb-2" height="50" alt="">
                       <p class="mt-2"><b>Tư vấn</b></p>
                   </div>
             </div>
             <div class="col-6 col-lg-3 ">
                   <div class="text-center">
                     <img src="/img/webnhanh/quyên góp.png" width="50" class="mb-2" height="50" alt="">
                       <p class="mt-2"><b>Quyên góp</b></p>
                   </div>
             </div>
            
             </div>
       </div>
       <div class="container partner__rewiew-contain-slider">
           <div class="row">
               <div class="col-md-6 pr-5 mb-4">
                   <div>
                       <h3>Chương trình tiêm chủng !</h3>
                       <p class="text-muted">Chương trình tiêm chủng covid-19 là tự nguyện được áp dụng với tất cả người dân Việt Nam.Tất cả những người trên 12 tuổi hiện có thể đăng kí. Đối với những cá nhân dưới 18 tuổi không trực tiếp đăng kí thì cha mẹ hoặc người giám hộ có thể thay mặt đăng kí.</p>
                       <a href="/web-nhanh/register" class=" btn btn-primary mt-3 register" >Đăng kí ngay</a>
                   </div>
               </div>
               <div class="col-md-6 partner__reweiw-slider mb-4">
                       <div class="myslider">

                           <div>
                               <div class="col-sm-10">
                                   <div class="background__img" style="background-image: url(/img/webnhanh/AstraZeneca.jpg);"><h2 style="text-shadow: 1px 1px 4px #020202;">AstraZeneca</h2></div>
                               </div>
                           </div>

                            <div>
                               <div class="col-sm-10">
                                   <div class="background__img" style="background-image: url(/img/webnhanh/Comirnaty.jpg);"><h2 style="text-shadow: 1px 1px 4px #020202;">Comirnaty</h2></div>
                               </div>
                           </div>

                            <div>
                               <div class="col-sm-10">
                                   <div class="background__img" style="background-image: url(/img/webnhanh/Gam-COVID-Vac.jpg);"><h2 style="text-shadow: 1px 1px 4px #020202;">Gam COVID</h2></div>
                               </div>
                           </div>

                            <div>
                               <div class="col-sm-10">
                                   <div class="background__img" style="background-image: url(/img/webnhanh/Spikevax.jpg);"><h2 style="text-shadow: 1px 1px 4px #020202;">Spikevax</h2></div>
                               </div>
                           </div>

                            <div>
                               <div class="col-sm-10">
                                   <div class="background__img" style="background-image: url(/img/webnhanh/Vero\ Cell.jpg);"><h2 style="text-shadow: 1px 1px 4px #020202;">Vero Cell</h2></div>
                               </div>
                           </div>
                        
                       </div>
               </div>
           </div>
       </div>
       <div class="container mt-3 mb-3 parner__rewiew-4step">
            <div class="pl-3">
                 <h3 class="mb-4    ">Đăng kí với 4 bước đơn giản</h3   >
            </div>
            <div class="row">
           <div class="col-sm-6 mb-4" data-aos="fade-left">
               <div class="background__img" style="background-image: url(/img/webnhanh/signup.svg);padding-top: 100%;" ></div>

           </div>
           <div class="col-sm-6 mb-4" data-aos="fade-right">
               <div class="row partner__rewiew-step">
               <div class="row">
                   <div class="col-2 d-flex align-items-center">
                       <div class="w-100">
                          <img src="/img/partner/icon_partner_step_1.svg" class="w-100" alt="">
                       </div>
                   </div>
                   <div class="col-10">
                       <div>
                           <p class="mb-1 mt-1 text-success">Bước 1 </p>
                           <h5 class=" mb-1">Thông tin cá nhân</h5>
                           <p class="text-muted">Điền các thông tin cá nhân vào biểu mẫu. Sau khi hoàn thành chuyển qua bước 2!</p>
                       </div>
                   </div>
               </div>

               <div class="row "> 
                   <div class="col-2 d-flex align-items-center">
                       <div class="w-100">
                          <img src="/img/partner/icon_partner_step_2.svg" class="w-100" alt="">
                       </div>
                   </div>
                   <div class="col-10">
                       <div>
                           <p class="mb-1 mt-1 text-success">Bước 2 </p>
                           <h5 class=" mb-1">Thông tin về tiền sử bệnh</h5>
                           <p class="text-muted">Hệ thống sẽ liệt kê các tiền sự bệnh có liên quan đến việc tiêm vac xin để bạn lựa chọn (có hoặc không)!</p>
                       </div>
                   </div>
               </div>

               <div class="row">
                   <div class="col-2 d-flex align-items-center">
                       <div class="w-100">
                            <svg width="55" height="55" fill="none"><path d="M40 22.5v5.85C40 34.775 34.775 40 28.35 40a11.702 11.702 0 01-8.225-3.4L10 26.475A4.998 4.998 0 0113.55 25c1.275 0 2.55.5 3.525 1.475L20 29.4V15h5v2.5c0-1.375 1.125-2.5 2.5-2.5s2.5 1.125 2.5 2.5V20c0-1.375 1.125-2.5 2.5-2.5S35 18.625 35 20v2.5c0-1.375 1.125-2.5 2.5-2.5s2.5 1.125 2.5 2.5z" fill="#4DB5FF"></path><path d="M25 0v15H5l-5 5V0h25z" fill="#80EAFF"></path><path d="M12.5 10.97l3.424 1.8-.654-3.813 2.77-2.7-3.828-.557-1.713-3.469-1.712 3.47-3.828.555 2.77 2.7-.654 3.814 3.425-1.8z" fill="#4DB5FF"></path><path d="M25 15h-5V7.5a2.5 2.5 0 015 0V15z" fill="#37F"></path></svg>
                       </div>
                   </div>
                   <div class="col-10">
                       <div>
                           <p class="mb-1 mt-1 text-success">Bước 3 </p>
                           <h5 class=" mb-1">Đồng ý tiêm</h5>
                           <p class="text-muted">Xác nhận các điều khoản và đồng ý tiêm chủng!</p>
                       </div>
                   </div>
               </div>

               <div class="row">
                   <div class="col-2 d-flex align-items-center">
                       <div class="w-100">
                          <img src="/img/partner/icon_partner_step_4.svg" class="w-100" alt="">
                       </div>
                   </div>
                   <div class="col-10">
                       <div>
                           <p class="mb-1 mt-1 text-success">Bước 4 </p>
                           <h5 class=" mb-1">Hoàn thành</h5>
                           <p class="text-muted">Hệ thống sẽ gọi cho bạn để xác thực và tiến hành lên danh sách !</p>
                       </div>
                   </div>
               </div>
               </div>
           </div>
            </div>
       </div>
       <div class="container" style="margin-top: 4rem;">
           <h3 class="mb-5 pl-3">Thống kê</h3>
            <div class="row">

                <div class="col-md-6 col-lg-4 col-sm-6 mb-4">
                    <div  class="background__img partner__why-choose-item" style="background-image: url(./image/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.png);">
                          <div class="partner__why-choose-item-child">
                               <h2 class="counter">
                                  1,200,211
                               </h2>
                               <h4>Lượt đăng kí trên hệ thống</h4>
                          </div>
                    </div>
                </div>

                  <div class="col-md-6 col-lg-4 col-sm-6 mb-4">
                    <div  class="background__img partner__why-choose-item" style="background-image: url(./image/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.png);">
                          <div class="partner__why-choose-item-child">
                               <h2 class="counter">
                                  200,211
                               </h2>
                               <h4>Số mũi tiêm ngày hôm qua</h4>
                          </div>
                    </div>
                </div>

                  <div class="col-md-6 col-lg-4 col-sm-6 mb-4">
                    <div  class="background__img partner__why-choose-item" style="background-image: url(./image/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.png);">
                          <div class="partner__why-choose-item-child">
                               <h2 class="counter">
                                  1,400,300
                               </h2>
                               <h4>Tổng số tất cả mũi đã được tiêm</h4>
                          </div>
                    </div>
                </div>
           
            </div>
       </div>
       <div class="container mb-3" style="margin-top: 3rem;">
           <h3>Ưu điểm</h3>
           <p class="text-muted mb-5"><i>Ưu điểm đăng kí tiêm chủng</i></p>
           <div class="row">
               <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                   <div class="text-left">
                       <i style="font-size:4rem;color: var(--primary_color);" class="mb-2 fas fa-shield-virus"></i>
                       <h5 class="mt-2">Miễn dịch</h5>
                       <p class="text-muted">Vắc xin COVID-19 giúp hệ miễn dịch nhận biết và sẵn sàng chống lại virus corona nếu chúng xâm nhập vào cơ thể.</p>
                   </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                   <div class="text-left">
                      <i style="font-size:4rem;color: var(--primary_color);" class="mb-2 fas fa-check-circle"></i>
                       <h5 class="mt-2">An toàn</h5>
                       <p class="text-muted">Tiêm vắc-xin ngừa COVID-19 cũng giúp ngăn ngừa khả năng bị bệnh nặng ngay cả khi đang nhiễm COVID-19.</p>
                   </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                   <div class="text-left">
                      <i style="font-size:4rem;color: var(--primary_color);" class="mb-2 fas fa-user-shield"></i>
                       <h5 class="mt-2">Bảo vệ xã hội</h5>
                       <p class="text-muted">Người được tiêm vắc-xin đầy đủ ít có khả năng bị lây nhiễm bệnh cũng như ít có khả năng lây lan vi-rút COVID-19 cho những người khác.</p>
                   </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                   <div class="text-left">
                       <i style="font-size:4rem;color: var(--primary_color);" class="mb-2 fas fa-sync-alt"></i>
                       <h5 class="mt-2">Khôi phục cuộc sống</h5>
                       <p class="text-muted">Việc tiêm vắc xin COVID-19 có thể giúp cuộc sống trở lại bình thường sớm hơn.</p>
                   </div>
               </div>
           </div>
       </div>

          <div class="container">
               <h3 class="">Tin tức</h3>
               <p class="text-muted mb-5"><i>Các tin tức covid cập nhật thường xuyên</i></p>

				<div class="row row-bottom-padded-md" data-aos="fade-up" style="margin: 0 -15px;">
				
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="https://media-cdn.laodong.vn/storage/newsportal/2021/8/1/937060/Vaccine1-03.jpeg?w=888&h=592&crop=auto&scale=both" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="#">TPHCM điều chỉnh kế hoạch tiêm vaccine</a></h3>
									<span class="posted_by">Sep. 10th</span>
									<span class="comment"><a href="">10<i class="icon-bubble2"></i></a></span>
									<p>Điểm mới trong kế hoạch điều chỉnh tiêm vaccine COVID-19 tại TPHCM là người trên 65 tuổi và người có bệnh lý nền...</p>
									<p><a href="#">Read More</a></p>
								</div>
							</div> 
						</div>
					</div>
                    	<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="/img/webnhanh/tin tức 2.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="#">Số liệu Covid-19: Cả nước gần 174.000 ca nhiễm</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p>Hôm nay, Việt Nam ghi nhận 7.618 ca (↓759 ca so với ngày hôm qua), nâng tổng số ca nhiễm trong nước từ ngày 27/4 đến nay lên 173.863...</p>
									<p><a href="#">Read More</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="/img/webnhanh/huy-2763-1628035949-8460-1628036041.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="#">Hà Nội thêm 57 ca nghi Covid-19 trong 24 giờ</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p>Sở Y tế Hà Nội ghi nhận thêm 14 ca dương tính nCoV trong thời gian từ 12h đến 18h ngày 4/8, liên quan ba chùm ca nhiễm hiện hành...</p>
									<p><a href="#">Read More</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-md-block"></div>
				</div>

				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-secondary " href="#">See All Post ...<i class="icon-arrow-right22"></i></a></p>
				</div>

			</div>

       <div class="container mb-5" style="margin-top:4rem">
           <div class="background__img partner__rewiew-accompany" style="background-image:url(/img/webnhanh/istockphoto-1256732389-1024x1024.jpg)">
                  {{!-- <div>
                      <h1>
                          Let Wonder place accompany you !
                      </h1>
                      <a href="/partnership" class=" btn btn-primary mt-3" >Register now</a>
                  </div> --}}
           </div>
       </div>








         
      {{>webnhanFooter}}
        {{!-- modal change pass  --}}
         <div class="modal " tabindex="-1" id="changePassModal" >
            <div class="modal-dialog " style="max-width: 500px;top:50%;transform: translateY(-50%);"> 
                <div class="modal-content">
               
                <div class="modal-body">
                   <form action="">
                       <div class="form-group">
                            <label for="exampleInputPassword1">Old password</label>
                            <input type="password" class="form-control">
                        </div>
                         <div class="form-group">
                            <label for="exampleInputPassword1">New password</label>
                            <input type="password" class="form-control">
                        </div>
                         <div class="form-group">
                            <label for="exampleInputPassword1">New password repeat</label>
                            <input type="password" class="form-control">
                        </div>
                   </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
            </div>
      {{!-- close modal  --}}
       <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/js/jquery.countup.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
       <script>
           $(".register").click(function(e){
            e.preventDefault();
            $.get(e.target.href, function(data, status){
                if(data.success === false) alert("You need login to continue")
                else location.href = e.target.href
            });
            });
          
          $( document ).ready(function() {
                 
                        $('.myslider').slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    centerMode: true,
                    variableWidth: true
                        });
            });

          
            $('.counter').countUp({
            'time': 1000,
            'delay': 5
            });

           
    </script>
   </body>
</html>