@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
  :root {
      --primary_color : rgb(1, 179, 167);
    --text-color : #565656;
}
.carousel-caption {
  z-index: 0;
}


.contain__icon__heart-product {
   position: absolute;
   top: 1rem;
   left: 1rem;
   max-width: 28px;
   cursor: pointer;
   z-index: 2;
}

.heart__pink {
  fill : #FF3366 !important;
}


/* tesst */

/* CSS Document */

ul{
	list-style:none;
}
a{
	text-decoration:none !important;
}
.lSSlideOuter .lSPager.lSpg > li a {
  z-index: 5 !important;
}
.box{
  width: 330px;
	border-radius: 10px;
  max-block-size: 390px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 20px 10px;
  box-shadow:0px 4px 8px 2px #999;
}


.logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
  box-shadow: 0px 4px 8px 2px #009688;
	transition: all ease 0.3s;
}

/*  */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.cardd {
  width: 100%;
  padding: clamp(1.5rem, 20vh, 10rem) 0 0;
 
  background-size: cover;
  color: white;
  position: relative;
  transition: transform ease 250ms;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cardd:hover {
 
}


.cardd:hover .cardd-title {
  bottom : 10px;
}

.cardd-body {
  padding: 1.5rem;
  background: linear-gradient(
    rgb(0 0 0 / 0),
    rgb(0 0 0 / 0.25) 15%,
    rgb(0 0 0 / 1)
  );
}

.cardd-body p {
  color: hsl(0deg 50% 100% / 0.8);
  margin-bottom: 1.25em;
}

@media (hover: hover), (prefers-reduced-motion: no-preference) {
  .cardd-body {
    transform: translateY(60%);
    transition: transform 400ms ease;
  }

  .cardd:hover .cardd-body {
    transform: translateY(0);
    transition-delay: 400ms;
  }

  .cardd-body > *:not(.cardd-title) {
    opacity: 0;
    transition: opacity 1000ms linear 400ms;
  }

  .cardd:hover .cardd-body > *:not(.cardd-title) {
    opacity: 1;
  }

  .cardd-title::after {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 100%;
    height: 3px;
    width: calc(100% + 1.5rem);
    background: hsl(142 90% 61%);
    transform: scaleX(0);
    transition: transform 200ms ease;
    transform-origin: left;
  }

  .cardd:hover .cardd-title::after {
    transition: transform 400ms ease;
    transform: scaleX(1);
  }
}
.card__info {
 
}
.cardd-price-tour {
  position: absolute;
    right: 1.1rem;
    top: 0;
    z-index: 3;
    color: #ebe3e3;
    font-size: 1.4rem;
    padding: 1rem 0px;
    width: 70px;
    text-align: center;
    background-color: #00AD7C;
}

.cardd-price-tour::before {
  content: "";
  border-style: solid;
  position: absolute;
  right: 0;
  top: 65px;
  border-width: 0px 35px 10.5px;
  color: #00AD7C;
  border-color: transparent currentColor;
}


.lSAction {
  display: none !important;
}

#goToPrevSlide,
#goToNextSlide {
  outline: none;
  border: none;
    text-align: center;   
    position: relative;
    z-index: 9;
}

#goToPrevSlide i,
#goToNextSlide i {
  font-size: 2.3rem;
    color: var(--primary_color);
}
 #goToPrevSlide i:hover,
 #goToNextSlide i:hover{
  color: #034e47;
}



.button {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: black;
  background: hsl(142 90% 61%);
  
  padding: 0.5em 1.25em;
   border-radius: 4px;
   margin-top: 0;
}

.button:hover {
  background: white;
}
.cardd-title {
 bottom: 20px;
  position: relative;
  width: max-content;
  padding-bottom: 4px;
}


/*--responsive for mobile phone--*/

/* close tessst */

.sticky {
  position: fixed;
  top: 0;
   background-color: rgba(255, 255, 255, 255);
   box-shadow: 1px 1px 5px #999;
   color: #666 !important;
   z-index: 99   ;}

.pa__active {
    background-color: #00AD7C !important;
}

.header__navbar-list-item a.text666 {
  color: #666 ;
}

a.text666:hover {
  color: var(--primary_color) !important;
  background-color: rgba(255,255,255,0.95) !important;
}

button:focus {
  outline: none;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn:hover {
  border-color: transparent;
  animation: jello 1s ease-in;
}

.btn__notAnimate {

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;
  
}
p {
  margin: 0 ;
  padding: 0 ;
}

h1 {
  font-family: 'Poppins', sans-serif;
  
}



.column div {
	position: relative;

}


figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

/* Shine */
.hover14 {
  transition: all .3s linear;
}
.hover14:hover {
  transform: translateY(-10px);
}
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/* loading web  */
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#1c1c1c ;
}

#loading img {
  max-width: 265px;
    vertical-align: middle;
    border-style: none;
}

#btn__close__filter {
  display : none
}

.display__none {
  display: none !important;
}
.display__block {
  display: block !important;
}

.display__flex {
  display: flex !important;
}

.transform__180 {
  transform: rotate(180deg);
}

.transform__dis180 {
  transform: rotate(-180deg);
}

/* ontop  */

.ontop {
  z-index: 99999;

 justify-content: center;

  text-align: center;
  display: none;
  cursor: pointer;
  
  position: fixed;
  color: #00AD7C;
  bottom: 20px;
  left: 30px;
}
.ontop i {
  font-size: 3rem;
}
/* slider  */
 .slider {

   animation: slider_auto .5s linear;
   display: block !important;
 }

 @keyframes slider_auto {
  from {
   
    transform: translateY(0);
  }
  to {
 
    transform: translateY(-554px);
  }
}

/* gird row  */
 
.row {
  display: flex;
  flex-wrap: wrap;
}

/* span {
  opacity: 0;
  transition:  all 0.4s ease-in;
  transform: translateY(20px);
  display: inline-block;
} */

span.fade {
  opacity: 1;
  transform: translateY(0px);
}

span.fade2 {
  opacity: 1;
  transform: translateY(0px);
}

.mar__left_10rem {
    margin-left: 10rem;
}

.ani__mover__right {
  animation: moveLiner__right 1s linear;
}

.ani__mover__left {
  animation: moveLiner 1s linear;
}
.ani__mover__top {
  animation: moveLiner__top 1s linear;
}

@keyframes moveLiner {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveLiner__right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveLiner__bottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveLiner__top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes headerNotify{
    from {
        transform: scale(0);
      
    }

    to {
        transform: scale(1);
     
    }
}

@keyframes zoom_decrease {
  
}

@keyframes header__navbar-1000 {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes header__navbar-1000-close {
  from {
    transform: translateX(0);
  
  }

  to {
    transform: translateX(-400px);
 
  }
}

.search__input {
  border: 1px solid #e6e2e2;
  height: 2.2rem;
}

.btn_btn {
  background-color: var(--background-color); 
  color: #222;
  padding: .5em 1em  ;
  border-color: var(--primary_color) ;
  outline: none;
  position: relative;
  cursor: pointer;
  --background-color: #fff;
  --border-size: 2px;
  --accent-color: #50ba87;
  }

  .btn-background-slide-danger {
  border-color: red !important;
  } 
  .btn-background-slide-danger:hover {
    background-color: rgb(201, 43, 43) !important;
    color: #fff !important;
  }

  .btn.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
  
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
  
  }
  
  .btn.btn-background-slide:hover::before,
  .btn.btn-background-slide:focus::before {
    transform: scaleX(1);
  
  }
  
  .btn.btn-background-slide {
    background-color: var(--background-color); 
    color: #222;
    padding: .5em 1em  ;
    border-color: var(--primary_color) ;
    outline: none;
    position: relative;
    cursor: pointer;
    --background-color: #fff;
    --border-size: 2px;
    --accent-color: #50ba87;
    transition: color 300ms ease-in-out;
    z-index: 1;
  }
  
  
  .btn.btn-background-slide:hover,
  .btn.btn-background-slide:focus {
    color: white;
  border-color: transparent;
  }


  .btn.btn-border-underline::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 5000ms ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
  } 
  
  .btn.btn-border-underline:hover::before,
  .btn.btn-border-underline:focus::before {
    transform: scaleX(1);
  }

  .btn__register__receive {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
.icon__register__receive {
  font-size: 2.2rem;
    color: var(--primary_color);
}
.input__register__receive {
  border: none;
  outline: none;
  padding: 4px 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
  /* button trong */

  .button--bordre{
   border: 2px solid var(--primary_color);
   font-size: 1.3rem;
   padding: .3rem .7rem;
  }



  /* common responsive  */

  .header__produce-iconmenu-1000 {
    display: none;
}

.header__navbar-max1000 {
  display: none;
}

.header__produce-iconback-1000 {
  display: none;
}
 
 /* scroll bar web  */ 

 ::-webkit-scrollbar {
   width: 8px;
   height: 10px;
 }
 ::-webkit-scrollbar-thumb {
   background: linear-gradient(rgb(255, 255, 253),var(--primary_color));
   border-radius: 6px;
 }


.ourTour__findtour input ,
.contain__seach input,
.find__tour input {
  outline: none;
  border-radius: 12px;
  padding: 1px 5px;
  border: none;
  text-align: center;
 }
 .ourTour__findtour input ,
.contain__seach input {
  box-shadow: 1px 1px 5px #999;

}

input.checkbox {
  width: 20px !important;
}

 /* blog  */
#fh5co-blog-section {
  margin-bottom: 3rem;
}
 .fh5co-blog {
  margin-bottom: 60px;
}
.fh5co-blog__title {
  margin: 4rem 0;
  color: var(--primary_color);
}
.fh5co-blog a img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:20px 30px;
  float: right;
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}
.fh5co-blog .blog-text span.posted_by {
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
.fh5co-blog .blog-text span.comment {
  float: right;
}
.fh5co-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text span.comment a i {
  color: #F78536;
  padding-left: 7px;
}
.fh5co-blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
  color: rgba(0, 0, 0, 0.6);
}
 
/* happy client  */
#fh5co-testimonial {
  position: relative;
  background: #00AD7C;
  padding-top: 5rem;
    padding-bottom: 9rem;
}
#fh5co-testimonial .fh5co-heading h2 {
  color: white;
  font-size: 3rem;
    margin-bottom: 5rem;
}
#fh5co-testimonial .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonial .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonial .box-testimony a:hover, #fh5co-testimonial .box-testimony a:focus, #fh5co-testimonial .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonial .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-testimonial .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonial .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #00AD7C;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonial .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonial .box-testimony blockquote p {
  letter-spacing: 1px;
}
#fh5co-testimonial .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#fh5co-testimonial .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

 /* partical css  */
 canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #be1d1d;
}

