<body>
   {{>adminHeader}}
   <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
         <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
               <div class="card-header">
                  <div class="input-group">
                     <input type="text" placeholder="Search..." name="" class="form-control search">
                     <div class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                     </div>
                  </div>
               </div>
               <div class="card-body contacts_body">
                  <ui class="contacts">
                     {{!-- 
                     <li>
                        <div class="d-flex bd-highlight">
                           <div class="img_cont">
                              <img src="https://www.pngkey.com/png/full/138-1388270_transparent-user-png-icon.png" class="rounded-circle user_img">
                              <span class="online_icon offline"></span>
                           </div>
                           <div class="user_info">
                              <span>Taherah Big</span>
                              <p>Taherah left 7 mins ago</p>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="d-flex bd-highlight">
                           <div class="img_cont">
                              <img src="https://www.pngkey.com/png/full/138-1388270_transparent-user-png-icon.png" class="rounded-circle user_img">
                              <span class="online_icon"></span>
                           </div>
                           <div class="user_info">
                              <span>Sami Rafi</span>
                              <p>Sami is online</p>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="d-flex bd-highlight">
                           <div class="img_cont">
                              <img src="https://www.pngkey.com/png/full/138-1388270_transparent-user-png-icon.png" class="rounded-circle user_img">
                              <span class="online_icon offline"></span>
                           </div>
                           <div class="user_info">
                              <span>Nargis Hawa</span>
                              <p>Nargis left 30 mins ago</p>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="d-flex bd-highlight">
                           <div class="img_cont">
                              <img src="https://www.pngkey.com/png/full/138-1388270_transparent-user-png-icon.png" class="rounded-circle user_img">
                              <span class="online_icon offline"></span>
                           </div>
                           <div class="user_info">
                              <span>Rashid Samim</span>
                              <p>Rashid left 50 mins ago</p>
                           </div>
                        </div>
                     </li>
                     --}}
                  </ui>
               </div>
               <div class="card-footer"></div>
            </div>
         </div>
         <div class="col-md-8 col-xl-6 chat">
            <div class="card" style="margin-bottom: 0;">
               <div class="card-header msg_head">
                  <div class="d-flex bd-highlight">
                     <div class="img_cont">
                        <img src="https://thumbs.dreamstime.com/b/user-experience-vector-icon-isolated-transparent-background-outline-high-quality-linear-transparency-concept-can-be-used-web-130123691.jpg" class="rounded-circle user_img">
                        <span class="online_icon"></span>
                     </div>
                     <div class="user_info">
                        <span id="chat_with">No user to chat</span>
                        <p>1767 Messages</p>
                     </div>
                  </div>
                  <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                  <div class="action_menu">
                     <ul>
                        <li><i class="fas fa-user-circle"></i> View profile</li>
                        <li><i class="fas fa-users"></i> Add to close friends</li>
                        <li><i class="fas fa-plus"></i> Add to group</li>
                        <li><i class="fas fa-ban"></i> Block</li>
                     </ul>
                  </div>
               </div>
               <div class="card-body msg_card_body">
                  {{!-- 
                  <div class="d-flex justify-content-start mb-4">
                     <div class="msg_cotainer">
                        Hi, how are you samim?
                        <span class="msg_time">8:40 AM, Today</span>
                     </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                     <div class="msg_cotainer_send">
                        Hi Khalid i am good tnx how about you?
                        <span class="msg_time_send">8:55 AM, Today</span>
                     </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                     <div class="msg_cotainer">
                        I am good too, thank you for your chat template
                        <span class="msg_time">9:00 AM, Today</span>
                     </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                     <div class="msg_cotainer_send">
                        You are welcome
                        <span class="msg_time_send">9:05 AM, Today</span>
                     </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                     <div class="msg_cotainer">
                        I am looking for your next templates
                        <span class="msg_time">9:07 AM, Today</span>
                     </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                     <div class="msg_cotainer_send">
                        Ok, thank you have a good day
                        <span class="msg_time_send">9:10 AM, Today</span>
                     </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                     <div class="msg_cotainer">
                        Bye, see you
                        <span class="msg_time">9:12 AM, Today</span>
                     </div>
                  </div>
                  --}}
               </div>
               <div class="card-footer">
                  <div class="input-group">
                     <div class="input-group-append">
                        <span  class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                     </div>
                     <textarea name="" class="form-control type_msg" id="message" placeholder="Type your message..."></textarea>
                     <div class="input-group-append">
                        <span id="send_message" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <style>
      body,html{
      height: 100%;
      margin: 0;
      background: #fff;
      }
      .chat{
      margin-top: auto;
      margin-bottom: auto;
      }
      .card{
      height: 500px;
      border-radius: 15px !important;
      background-color: rgba(0,0,0,0.4) !important;
      }
      .contacts_body{
      padding:  0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;
      }
      .msg_card_body{
      overflow-y: auto;
      }
      .card-header{
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
      }
      .card-footer{
      border-radius: 0 0 15px 15px !important;
      border-top: 0 !important;
      }
      .container{
      align-content: center;
      }
      .input-group {
      background-color:#8f9294    
      }
      .search{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
      }
      .search:focus{
      box-shadow:none !important;
      outline:0px !important;
      }
      .type_msg{
      background-color: #fff;
      border:0 !important;
      color:#444 !important;
      height: 60px !important;
      overflow-y: auto;
      }
      .type_msg:focus{
      box-shadow:none !important;
      outline:0px !important;
      }
      .attach_btn{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
      }
      .send_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
      }
      .search_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
      }
      .contacts{
      list-style: none;
      padding: 0;
      }
      .contacts li{
      width: 100% !important;
      padding: 5px 10px;
      margin-bottom: 15px !important;
      position: relative;
      }
      .active{
      background-color: rgba(0,0,0,0.3);
      }
      .user_img{
      height: 70px;
      width: 70px;
      border:1.5px solid #f5f6fa;
      }
      .user_img_msg{
      height: 40px;
      width: 40px;
      border:1.5px solid #f5f6fa;
      }
      .img_cont{
      position: relative;
      height: 70px;
      width: 70px;
      }
      .img_cont_msg{
      height: 40px;
      width: 40px;
      }
      .online_icon{
      position: absolute;
      height: 15px;
      width:15px;
      background-color: #4cd137;
      border-radius: 50%;
      bottom: 0.2em;
      right: 0.4em;
      border:1.5px solid white;
      }
      .offline{
      background-color: #c23616 !important;
      }
      .user_info{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px;
      }
      .user_info span{
      font-size: 20px;
      color: white;
      }
      .user_info p{
      font-size: 10px;
      color: rgba(255,255,255,0.6);
      }
      .msg_cotainer, .msg_cotainer_send {
         max-width:500px
      }
      .msg_cotainer{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      border-radius: 25px;
      background-color: #82ccdd;
      padding: 10px;
      position: relative;
      }
      .msg_cotainer_send{
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
      border-radius: 25px;
      background-color: #78e08f;
      padding: 10px;
      position: relative;
      }
      .msg_time{
      position: absolute;
      left: 0;
      bottom: -15px;
      color: rgba(255,255,255,0.5);
      font-size: 10px;
      }
      .msg_time_send{
      position: absolute;
      right:0;
      bottom: -15px;
      color: rgba(255,255,255,0.5);
      font-size: 10px;
      }
      .msg_head{
      position: relative;
      }
      #action_menu_btn{
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      cursor: pointer;
      font-size: 20px;
      }
      .action_menu{
      z-index: 1;
      position: absolute;
      padding: 15px 0;
      background-color: rgba(0,0,0,0.5);
      color: white;
      border-radius: 15px;
      top: 30px;
      right: 15px;
      display: none;
      }
      .action_menu ul{
      list-style: none;
      padding: 0;
      margin: 0;
      }
      .action_menu ul li{
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 5px;
      }
      .action_menu ul li i{
      padding-right: 10px;
      }
      .action_menu ul li:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,0.2);
      }
      @media(max-width: 576px){
      .contacts_card{
      margin-bottom: 15px !important;
      }
      }
      .notify_message {
      height: 20px;
      width: 20px;
      background-color: #d63031;
      border-radius: 20px;
      color: white;
      font-size: .7rem;
      /* text-align: center; */
      position: absolute;
      top: 2px;
      padding: 3px;
      border-style: solid;
      border-width: 2px;
      }
      .notify_message p {
      line-height: 10px;
      }
      .display__none {
      display: none !important;
      }
   </style>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
   <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   {{>adminFooter}}
   <script>
      $('#action_menu_btn').click(function(){
      $('.action_menu').toggle();
      });
       
      var countNotReadMessage = [];

       var socket = io.connect("https://wonderplace.herokuapp.com");
       socket.on("connect", function() {
         
        })
        socket.emit('add_admin');
            // list user first
          socket.on('online-user', (data) => {
            if(data.length !== 0) {
           for(let item of data[0].conversation)  
           {
              loadMessagesByRoom(item)
           }
           $('#chat_with').html(`Chat with ${data[0].name}`)
           for(let item of data) {
              
             if(countNotReadMessage.length === 0) {
                 let newRead = {
               room : item.room,
               count : 0
              }
              countNotReadMessage.push(newRead)
             }

              $('.contacts').append(`  <li class="${item.active ? 'active' : ''}" data-id='${item.room}' data-name=${item.name}>
                        <div class="d-flex bd-highlight">
                           <div class="img_cont">
                              <img src="https://www.pngkey.com/png/full/138-1388270_transparent-user-png-icon.png" class="rounded-circle user_img">
                              <span class="online_icon"></span>
                           </div>
                           <div class="user_info">
                              <span>${item.name}</span>
                              <p>${item.name} is online</p>
                           </div>
                        </div>
                     <div class="notify_message display__none"></div>
                     </li>`)
           }
            $('.contacts li').click(changeActive)
            }
        })
       
       // update notify
     
       socket.on('update__notify-messeage', (data) => {
   
       
          let userOnlines = document.querySelectorAll('.contacts li');
         
          for(let i = 0; i < userOnlines.length; i++) {
             if(userOnlines[i].getAttribute('data-id') === data)
             {
             
                let notify_message = userOnlines[i].childNodes[3];
            
               if(notify_message) {
                   if(userOnlines[i].classList.contains('active')) {
                    if(!notify_message.classList.contains('display__none')) 
                         notify_message.classList.add('display__none')
                             
                         for(let item of countNotReadMessage) {
                            if(item.room === data)
                            {
                                item.count = 0;
                                break;
                            }
                         }
                      
                }
                else {
                 
                     if(notify_message.classList.contains('display__none')) 
                         notify_message.classList.remove('display__none')
                          
                         for(let item of countNotReadMessage) {
                     
                            if(item.room === data) {
                               item.count++;
                               notify_message.innerHTML = `<p>${item.count}</p>`
                               break;
                            }
                         }
                      
                     
                }
               }
             break;
             }
          }
       })
       // cloes updata notify
        
       socket.on('update_online-user', (data) => {
         
           $('.contacts').html('')
            for(let item of data) {
             
             let check = true;
             for(let room of countNotReadMessage) {
                if(item.room === room.room) {
                   check = false;
                   break;
                }
             }
             if(check) {
                let obj = {
                   room : item.room,
                   count : 0
                }
                countNotReadMessage.push(obj);
             }

              $('.contacts').append(`  <li class="${item.active ? 'active' : ''}" data-id='${item.room}' data-name='${item.name}'>
                        <div class="d-flex bd-highlight">
                           <div class="img_cont">
                              <img src="https://www.pngkey.com/png/full/138-1388270_transparent-user-png-icon.png" class="rounded-circle user_img">
                              <span class="online_icon"></span>
                           </div>
                           <div class="user_info">
                              <span>${item.name}</span>
                              <p>${item.name} is online</p>
                           </div>
                        </div>
                         <div class="notify_message display__none"></div>
                     </li>`)
            }
           var checkLi =  $('.contacts li.active').length;
       
           if(checkLi === 0) {
              document.querySelector('.contacts li').classList.add('active');
              $('#chat_with').html(`Chat with ` + data[0].name)
               socket.emit('change_room', data[0].room)
           } 
            $('.contacts li').click(changeActive)
        })
      
          socket.on('update_conversation', (data) => {
             $('.msg_card_body').html('')
             for(let item of data) {
                loadMessagesByRoom(item)
             }
          })
      
      // update mess soket event
      socket.on('update_message',(data) => {
        update_message(data);
      })
      // send message event
      $('#send_message').click(function() {
        let message = $('#message').val()
        $('#message').val('')
        if(message === '') return
         socket.emit('sendMessage', message);
      })
       // trigger send mess when enter
      $('#message').keypress((e) => {
         if(e.which === 13 ) {
             $('#send_message').trigger('click');
         }
      }) 
      // change active user event
    $('.contacts li').click(changeActive)
       
      function changeActive () {
        
         $('.contacts li').removeClass('active')
         $(this).addClass('active')
         $('#chat_with').html(`Chat with ` + $(this).attr("data-name"))
         socket.emit('change_room', $(this).attr("data-id") )
        }
      // func update message 
      function update_message (data) {
            if(data.sender !== 'You') {
             $('.msg_card_body').append(`<div class="d-flex justify-content-start mb-4">
                     
                     <div class="msg_cotainer">
                        ${data.message}
                        <span class="msg_time">${data.time}</span>
                     </div>
                  </div>`)
         }
         else {
             $('.msg_card_body').append(`<div class="d-flex justify-content-end mb-4">
                     <div class="msg_cotainer_send">
                         ${data.message}
                        <span class="msg_time_send">${data.time}y</span>
                     </div>
                     
                  </div>`)
         }
      }
      // load message by room event
      function loadMessagesByRoom (data) {
         
         if(data.sender === 'You') {
             $('.msg_card_body').append(`<div class="d-flex justify-content-start mb-4">
                     
                     <div class="msg_cotainer">
                        ${data.message}
                        <span class="msg_time">${data.time}</span>
                     </div>
                  </div>`)
         }
         else {
             $('.msg_card_body').append(`<div class="d-flex justify-content-end mb-4">
                     <div class="msg_cotainer_send">
                         ${data.message}
                        <span class="msg_time_send">${data.time}y</span>
                     </div>
                     
                  </div>`)
         }
      }
      
         
   </script>
</body>