{{>adminHeader}}

<div class="col-sm-12">
  <div class="container-fluid " style="margin-top: 5rem;padding-left: 75px;">
    <div class="row">
        <h1 class="ml-5 mr-5">List hotel order</h1>
        
    </div>
  <form action="" method="post" id="formControl" >
 
  <table class="table table-hover">
    <thead>
      <tr>
          <th></th>
         <th>Name</th>
         <th>Phone</th>
         <th>Email</th>
        <th>ID partner</th>
        <th>Bank partner</th>
        <th>ID room</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Adult/children</th>
        <th>Total price</th>
         <th></th>
        
       
      </tr>
    </thead>
    <tbody>
      
          {{!-- {{#each listAll}} --}}
        <tr>
             <th></th>
         <th>Nguyen Van Nam</th>
         <th>0918844727</th>
         <th>NguyenVanNam@gmail.com</th>
        <th>PN7766</th>
        <th>Agribank/97072052431281</th>
        <th>R5543</th>
        <th>09/10/2021</th>
        <th>11/10/2021</th>
        <th>3/5</th>
        <th>300$</th>
               <th><button class="btn btn-sm btn-success">Comfirm payment</button> <br> <button class="btn btn-sm btn-danger">Cancel</button></th>

        
        </tr>
          {{!-- {{else}}
        
          {{/each}} --}}
          <tr>
             <th></th>
         <th>Nguyen Van Nam</th>
         <th>0918844727</th>
         <th>NguyenVanNam@gmail.com</th>
        <th>PN7766</th>
        <th>Agribank/97072052431281</th>
        <th>R5543</th>
        <th>09/10/2021</th>
        <th>11/10/2021</th>
        <th>3/5</th>
        <th>300$</th>
         <th><button class="btn btn-sm btn-success">Comfirm payment</button> <br> <button class="btn btn-sm btn-danger">Cancel</button></th>
       
        
        </tr>
           <tr>
             <th></th>
         <th>Nguyen Van Nam</th>
         <th>0918844727</th>
         <th>NguyenVanNam@gmail.com</th>
        <th>PN7766</th>
        <th>Agribank/97072052431281</th>
        <th>R5543</th>
        <th>09/10/2021</th>
        <th>11/10/2021</th>
        <th>3/5</th>
        <th>300$</th>
                 <th><button class="btn btn-sm btn-success">Comfirm payment</button> <br> <button class="btn btn-sm btn-danger">Cancel</button></th>

        
        </tr>
      
    </tbody>
  </table>
  </form>
</div>
</div>



<style>
.table td, .table th {
         white-space: normal !important;
         padding : 1.05rem .4rem !important	;
         }
 
         
</style>

    <form  name="form__idTour" method="post"></form>
 <script src="/assets/js/vendor-all.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/main.js"></script>
<script>
 

</script>
</body>

</html>

